<p class="form-group">
  <label for="machine-name" class='control-label col-sm-2'>name</label>
  <div class="col-sm-10">
    {{input id="machine-name" class="form-control" name="name" value=model.name}}
  </div>
</p>
<p class='form-group'>
  <label for="machine-tags" class='control-label col-sm-2'>tags</label>
  <div class="col-sm-10">
    {{input id="machine-tags" class="form-control" name="tags" value=model.tags}}
  </div>
</p>
