<form>
  <p class='form-group'>
    <label class='control-label col-sm-2'>name</label>
    <div class="col-sm-10">
      {{input class="form-control" name="name" value=model.name}}
    </div>
  </p>
  <p class='form-group'>
    <label class='control-label col-sm-2'>script</label>
    <div class="col-sm-10">
      {{textarea class="form-control" name="script" rows="10" cols="40"
        value=model.script}}
    </div>
  </p>
  <p class='form-group'>
    <label class='control-label col-sm-2'>script</label>
    <div class="col-sm-10">{{input type="file" name="upload" class="form-control"}}</div>
  </p>
  <p class='form-group'>
    <label class='control-label col-sm-2'>tags</label>
    <div class="col-sm-10">
      {{input class="form-control" name="tags" value=model.tags}}
    </div>
  </p>
</form>
