@import url('offcanvas.css');

.runscript-index .panel {
  height: 170px;
}

.runscript-index .new-runscript {
  font-size: 50px;
  text-align: center;
  line-height: 90px;
  width: 100%;
}

.machine-index .panel {
  height: 120px;
}

.machine-index .new-machine {
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  width: 100%;
}

.machine-template-selector {
  width: 100%;
}
