{{outlet}}
<ul>
  <li>{{#link-to 'runscripts.new'}}Create runscript{{/link-to}}</li>
{{#each model as |runscript|}}
  <li>
    {{runscript.name}} ({{runscript.tagList}})
    <code><pre>{{runscript.script}}</pre></code>
  </li>
{{/each}}
</ul>
