{{#each model as |machine|}}
  <div>
    <h3>{{machine.name}}</h3>
    <p>
      {{machine.status}} | {{machine.diskUsage}}
    </p>
    <ul>
      {{#each machine.tagList as |tag|}}
        <li>{{tag}}</li>
      {{/each}}
    </ul>
  </div>
{{/each}}
